.container{max-width: 1200px ; margin: 0 auto;}
.edu-exp-section{background-color: #bebef075; padding: 70px 0px;}
.section-title{font-size: 50px; font-weight: 600;margin-bottom: 30px; }
.experience-card, .education-card {background: #fdfdfd;border-left: 4px solid #557a95;padding: 20px 25px;margin-bottom: 25px;border-radius: 8px;box-shadow: 0 4px 10px rgba(0,0,0,0.05);}
.experience-role, .education-degree {font-size: 20px;font-weight: bold;color: #0d264a;margin-bottom: 10px;}