.footer {color:#0d264a;text-align: center; padding: 20px;}
.footer .message {font-size: 10px;font-weight: 500;}
.footer .message:hover {color: #0c3a7a; }
.footer .copyright {font-size: 10px;color: #787f88; }
